body {
  background:#000000;
}

h1 {
font: bold 2em/1em "Arial Black", "MS Serif", "New York", serif;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
color: #ffff;
border-top: solid #000000 medium;
text-align: center;
}

h2 {
font: bold 2em/1em "Arial Black", "MS Serif", "New York", serif;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
color: #d6d0d0;
border-top: solid #000000 medium;
border-bottom: dotted #2F4F4F thin;
text-align: center;
}

h3 {
font: 1em/1em "Arial Black", "MS Serif", "New York", serif;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
color: #ded9d9;
border-top: solid #000000 medium;
border-bottom: dotted #2F4F4F thin;
text-align: center;
}

select {
  -webkit-appearance: none;
  appearance: none;
  font:  400 6px/1.3 "Arial Black", "MS Serif", "New York", serif;
  border: 1px solid #3b5998;
  line-height: 1;
  outline: 0;
  color: #3b5998;
  border-color: #3b5998;
  padding: 0.65em 0.55em 0.55em 0.55em;
  border-radius: 3px;
  background-position: right 10px center, right bottom, right bottom, right bottom;   
}


footer {
  bottom:0;
  left:0;
  color: #ffff;
  font:  400 10px/1.3 "Impact", "MS Serif", "New York", serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width:100%;
  position:fixed; 
  text-align: center;
}

button {
    background-color: #3b5998; /* Green */
    font:  400 6px/1.3 "Arial Black", "MS Serif", "New York", serif;
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6px;
}

label{
	display: block;
  font:  400 12px/1.3 "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
	color: #ded9d9;

}

footer {
	bottom:0;
	left:0;
	color: #3b5998;
	font:  400 20px/1.3 "Impact", "MS Serif", "New York", serif;
	position:center;
    overflow:hidden;
    margin:0 auto;
    top: 1000px;
	
}

svg {
    margin: 0 auto;
    display: block;
    background: #f2f0f0;
    width: 740px;
    height: 480px;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 20px;
}


.land {
    fill: #000000;
}

.boundry {
    fill: none;
    stroke: #006994;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.legend-mag-text {
  font-size: 9px;
  fill: white;
  font-weight: bold;
}

.legend-box {
  fill: white;
  stroke: white;
  stroke-width: 0.75px;
  rx: 10;
  ry: 10;
}
