body {
  background:#B5E2E2;
}

h1 {
font: bold 2em/1em "Arial Black", "MS Serif", "New York", serif;
margin: 0;
padding: 0;
color: #053E5C;
border-top: solid #000000 medium;
text-align: center;
}

h2 {
font: bold 2em/1em "Arial Black", "MS Serif", "New York", serif;
margin: 0;
padding: 0;
color: #065985;
border-top: solid #000000 medium;
border-bottom: dotted #2F4F4F thin;
text-align: center;
}

select {
  -webkit-appearance: none;
  appearance: none;
  font:  400 13px/1.3 "Arial Black", "MS Serif", "New York", serif;
  border: 1px solid #3b5998;
  line-height: 1;
  outline: 0;
  color: #3b5998;
  border-color: #3b5998;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 3px;
  background: linear-gradient(#3b5998, #3b5998) no-repeat,
              linear-gradient(-135deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
              linear-gradient(-225deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
              linear-gradient(#3b5998, #3b5998) no-repeat;
  background-color: white;
  background-size: 1px 100%, 20px 20px, 20px 20px, 20px 60%;
  background-position: right 20px center, right bottom, right bottom, right bottom;   
}

button {
    background-color: #3b5998; /* Green */
    font:  400 13px/1.3 "Arial Black", "MS Serif", "New York", serif;
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

label{
	display: block;
	font:  400 20px/1.3 "Arial Black", "MS Serif", "New York", serif;
	color: #3b5998;
  text-align: center;

}

footer {
	bottom:0;
	left:0;
	color: #3b5998;
	font:  400 20px/1.3 "Impact", "MS Serif", "New York", serif;
	position:center;
    width: 100%;
    overflow:hidden;
    margin:0 auto;
	
}

svg {
    margin: 0 auto;
    display: block;
    background: #000000;
}


.land {
    fill: #fff;
}

.boundry {
    fill: none;
    stroke: #006994;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.legend-mag-text {
  font-size: 9px;
  fill: black;
  font-weight: bold;
}

.legend-box {
  fill: white;
  stroke: black;
  stroke-width: 0.75px;
  rx: 10;
  ry: 10;
}
